<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main>
      <h1>User Login</h1>
      <form action="/auth/login" method="post">
        <input type="text" placeholder="username" name="username" />
        <input type="password" placeholder="password" name="password" />
        <input type="submit" value="Login" />
      </form>

      <img src=" https://cdn.vox-cdn.com/thumbor/TWvFktvPwayc1CAWhmeI3oY9Zgg=/0x0:900x801/1200x800/filters:focal(432x184:576x328)/cdn.vox-cdn.com/uploads/chorus_image/image/59571719/It_Sugar.0.jpg" alt="" sizes="(max-width: 600px) 200px, 50vw">
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>